@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Maantie 1<br />
    99999 KUNTA<br />
    <abbr title="Phone">Puhelin:</abbr>
    123456
</address>

<address>
    <strong>Tuki:</strong>   <a href="mailto:eero.kauppi@gmail.com">eero.kauppi@gmail.com</a><br />
    <strong>Markkinointi:</strong> <a href="mailto:eero.kauppi@gmail.com">eero.kauppi@gmail.com</a>
</address>